
<div class="row ganhos">
  <div class="col-md-8 margin-descricao">
    <h5>Ganhos Estimados</h5>
  </div>
  <div class="col-4 margin-descricao">
    Código do Cliente: EGRH Y45hY D2GHY 56vh
  </div>
  <div class="col-md-2  col-xs-12 col-sm-6 text-value text-left">
    <span>Para o dia atual</span>
    <span class="valor text-success">
      R$ {{ valueCards.currentDay }}
    </span>
  </div>
  <div class="col-md-2 col-xs-12 col-sm-6 text-value text-right">
      <span >Para o mês atual</span>
      <span class="valor">
          R$ {{ valueCards.currentMonth }}
      </span>
  </div>
  <div class="col-md-3  col-xs-12 col-sm-6 text-value text-right">
      <span>Durante o dia anterior</span>
      <span class="valor">
          R$ {{ valueCards.lastDay }}
      </span>    
  </div>
  <div class="col-md-3 col-xs-12 col-sm-6 text-value text-right">
      <span>Durante o mês anterior</span>
      <span class="valor">
          R$ {{ valueCards.lastMonth }}
      </span>
  </div>
  <div class="col-md-2 col-xs-12 col-sm-6 text-value text-right">
      <span >Total</span>
      <span class="valor">
          R$ {{ valueCards.total }}
      </span>    
  </div>
</div>
<div class="row ganhos">
  <div class="col-12">
    <hr class="hr-light">
    <div class="row">
      <div class="col-8">
          <i class="text-select fa fa-calendar"></i> Comparação de hoje com o mesmo da semana passada <i class="fa fa-angle-down"></i>
      </div>
      <div class="col-4">
          <button class="btn-lg-light pull-right">
              MINHAS CONTAS
          </button>
      </div>
    </div>

  </div>
</div>