<div class="row dash">
  <div class="col-12">
    <ul class="list-inline list-dash">
      <li class="list-inline-item">
          <i class="fa fa-bar-chart"></i>
      </li>
      <li class="list-inline-item">
          <i class="fa fa-line-chart"></i> tipo    
      </li>
      <li class="list-inline-item">
          <i class="fa fa-exchange"></i> Trocar sequência <span class="percent-sequenc">100%</span> <i class="fa fa-arrow-down"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-file-excel-o"></i> Exportar para Excel CSV
      </li>
    </ul>
  </div>
</div>