<div class="row" id="top-header">
  <div class="col-10">
    <ul class="nav nav-list">
      <li class="list-item">
        <i class="fa fa-bell"></i>
      </li>
      <li class="list-item">
        <i class="fa fa-comment"></i>
      </li>
      <li class="list-item">
        <i class="fa fa-cog"></i>
      </li>
      <li class="list-item">
          <i class="fa fa-search"></i>
        </li>      
    </ul>
  </div>
 
  <div class="col-2 " id="foto">
      <div class="pull-left">
          <strong>Usuário</strong> <br>
          Gerente    
      </div>
    <img class="img-fluid pull-right" src="../../assets/images/perfil_gerente.jpg" alt="Perfil do Usuário Light">
  </div>
</div>