<div class="row" id="sidebar">
  <div class="col-12">
    <div class="left-top-sidebar">
      <i class="fa fa-align-right"></i>
    </div>
    <div class="top-sidebar text-center">
      Dashboard
    </div>
  </div>
  <div class="col-12" >
    <ul class="list-group" id="menu-list">
      <li class="list-group-item">
        Home
      </li>
      <li class="list-group-item">
          Lista de Trabalho
          <ul class="list-group submenu" >
            <li class="list-group-item">
              Calendário
            </li>
            <li class="list-group-item">
              Atividades
            </li>
          </ul>
      </li>
      <li class="list-group-item">
          Ciclo de Vendas
      </li> 
      <li class="list-group-item">
        Marketing
     </li>
     <li class="list-group-item">
       <span class="plus">+</span> Criar
       <ul class="list-group submenu">
         <li class="list-group-item">Tarefa</li>
         <li class="list-group-item">E-mail</li>
         <li class="list-group-item">Contato</li>
         <li class="list-group-item">Lead</li>
         <li class="list-group-item">Questão</li>
       </ul> 
     </li>


    </ul>   
  </div>
</div>